.weather {
    width: 600px;
    height: 435px;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    margin: 10px;
}
.weather__form {
    width: 100%;
    border-bottom: 1px solid #000;
    height: 50px;

    
}
.weather__content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.weather__locations{
    border-left: 1px solid #000;
    width: 50%;
}
.weather__tabs {
    width: 50%;
    height: 100%;
}