*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

button{
    border: none;
    background-color: transparent;
}

body{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;

    color: #000000;
}